<div class="container">
  <div class="bills">
    <% bills.order('id DESC').each do |bill| %>
      <%= link_to group_bill_path(bill.group_id, bill) do %>
        <div class="bill-card">
          <div class="bill-info">
            <p class="bill-name"><%= bill.name %></p>
            <p class="bill-transaction">Transactionº<%= bill.created_at.to_time.to_i %></p>
            <span class="fa fa-calendar"> <%= bill.created_at %></span>
          </div>
          <div class="bill-payment-info">
            <p class="bill-payment">
              <strong>Payment:</strong>
              $<%= bill.amount %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
