  <%= form_with(model: group) do |form| %>
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form class="form-container">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: "Enter category name" %>
      </div>
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :icon, accept: 'image/png,image/gif,image/jpeg,image/jpg', required: true, class: 'form-control', placeholder: 'Enter' %>
      </div>
      <div class="field">
        <%= form.text_field :description, placeholder: 'Enter category description' %>
      </div>
      <div  class="actions">
        <%= form.submit "Save Category" %>
      </div>
    </form>
  <% end %>
