<a href="<%= group_path(group.id) %>" class="group-link">
    <div class="group-card">
      <div class="group-image">
        <img src="<%= group.icon %>" alt="<%= group.name %>" />
      </div>
      <div class="group-info">
        <p class="group-name"><%= group.name %></p>
        <p class="group-date"><%= Date.parse(group.created_at.to_s, '%m-%d-%Y') %></p>
      </div>
      <div class="group-amount">
        <strong>$<%= group.bills.inject(0){ |sum, bill| sum + bill.amount.to_i } %></strong>
      </div>
    </div>
</a>
