<div class="form-container">
<h2>Create a New Category</h2>

<%= form_with model: @group, url: groups_path, method: :post, local: true, scope: :group do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name,  required: true %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, required: true %>
    </div>

    <div class="actions">
    <%= form.submit "Create Category" %>
  </div>
<% end %>
<div class="links">
  <%= link_to "Back to Categories", groups_path %>
</div>
</div>