<%= form_with(model: bill, url: group_bills_path) do |form| %>
  <% if bill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:
        <h2>
          <ul>
            <% bill.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.text_field :name, placeholder: 'Enter bill name' %>
      </div>
      <div class="field">
        <%= form.text_field :amount, placeholder: 'Enter bill amount' %>
        <%= form.hidden_field :group_id, {value: @group_id} %>
      </div>
      <div class="field">
        <%= form.text_area :description, placeholder: 'Add description...' %>
      </div>
      <div class="actions">
        <%= form.submit 'Save Bill'%>
      </div>
    <% end %>
