<div class="container">
<p style="color: green"><%= notice %></p>
<div class="group-card-show">
  <div class="group-image-show">
    <img src=<%= @bill.group.icon %> alt=<%= @bill.group.name %> />
  </div>
  <div>
    <p class="group-name"><%= @bill.name %></p>
  </div>
</div>
<div class="">
  <p class="mx-2"><%= @bill.description %></p>
</div>
<%= render @bill %>
<div class="buttons row">
<% if can? :destroy, @bill %>
<%= button_to "Remove", group_bill_path(@bill.group_id, @bill), method: :delete, class: 'btn' %>
<% end %>
<%= link_to "Back to bills", group_path(@bill.group_id), class: 'btn'%>
</div>
</div>
