<header class="header">
  <nav class="navbar">
    <ul>
      <li>
        <% if params[:action] == 'index' && params[:controller] == 'landingpage' || params[:action] == 'index' && params[:controller] == 'groups' %>
          <span class="fa fa-bars toggle-menu"></span>
          <ul class="mobile-menu">
            <% if current_user %>
              <li>
                <%= link_to groups_path do %>
                  <p class="fa fa-home"><span>Home</span></p>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path do %>
                  <p class="fa fa-sign-out"><span>Sign Out</span></p>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path do %>
                  <p class="fa fa-home"><span>Home</span></p>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  <p class="fa fa-sign-in"><span>Sign In</span></p>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <p class="fa fa-user-plus"><span>Sign Up</span></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= link_to "javascript:history.back()" do %>
            <span class="fa fa-arrow-left"></span>
          <% end %>
        <% end %>
      </li>
    </ul>
    <div class="text-capitalize">
      <h2 class="title"><%= @title %><small><%= @subtitle %></small></h2>
    </div>
    <ul>
      <li> <span class="fa fa-search"></span></li>
    </ul>
  </nav>
</header>
<script>
var btnToggle = document.querySelectorAll('.toggle-menu');

var closeMenu = (event) => {
  var menu = document.querySelector('.mobile-menu');
  menu.classList.toggle('menu-slide');
};

btnToggle.forEach((btn) => {
  btn.addEventListener('click', closeMenu);
});

</script>
